/*----------------------------------------------------------------------------*\
	#POSITIONING HELPERS
\*----------------------------------------------------------------------------*/

.fixed {
	left: 1rem; top: 0;
	position: fixed;
	z-index: 1;
}


